body {
	background-color: #bbdefb;
}

ul {
  list-style-type: none; /*le quita el puntico del item de lista*/
  text-align: right; 
  background-color: gray;
}

li {
  display: inline; /* lo vuelve horizontal*/
  font-size: 30px;
  padding-left: 20px;
}

a {
	text-decoration: none; /*le quita el lineado al hipervinculo*/
	color: black;
}
a:hover {
	color:red;
}

body > header {  /*padre*/
	overflow: hidden; /*recalcula el padre para que no se vea afectado por los cambios del los hijos*/ 
	width: 100%; /*ancho*/
	border: 2px solid black;
	background-color:  #64b5f6 ;
}

#texto_titulo {
	width: 800px;
	float:left; /*alinea a la izquierda*/
	padding-left: 30px; /*separacion del margen de la izquierda*/
	font-size: 250%; /*tamaño texto*/
	text-shadow: black -1px 1px,black -2px 2px, black -3px 3px, black -4px 4px, black -5px 5px;
   	color: red;
   	letter-spacing: 1px;
}


#main {
	overflow: hidden;
	border: 2px solid black;
	background-color: #64b5f6;
}

#main1 {
	overflow: hidden;
}

#imagen_titulo {
	float:left; /*alinea a a la izquierda, con el de arriba se colocan los dos en la misma fila*/ 
}

#informacionPersonal {  /*padre*/
	overflow: hidden; /*recalcula el padre para que no se vea afectado por los cambios del los hijos*/ 
	width: 100%; 
}

#imagenPerfil{
	float:left; /*alinea a la izquierda*/
	padding-left: 50px;
}
#datosPersonales {
	float:left; /*alinea a a la izquierda, con el de arriba se colocan los dos en la misma fila*/ 
	padding-left: 50px;
	color: black;
}
#informacionPersonal1 {  /*padre*/
	overflow: hidden; /*recalcula el padre para que no se vea afectado por los cambios del los hijos*/ 
	width: 70%;
	float: left; 
}
#informacionPersonal2 {  /*padre*/
	overflow: hidden; /*recalcula el padre para que no se vea afectado por los cambios del los hijos*/ 
	width: 70%; 
	float: right;
}

#imagenPerfil1 {
	float:left; /*alinea a la izquierda*/
	padding-left: 50px;
}
#datosPersonales1 {
	float:left; /*alinea a a la izquierda, con el de arriba se colocan los dos en la misma fila*/ 
	padding-left: 50px;
	color: black;
}


footer {
	background-color: black;
	overflow: hidden; /*recalcula el padre para que no se vea afectado por los cambios del los hijos*/ 
	border: 2px solid black;
	position: absolute;
	width: 98.5%;
	color: white;
}

.iconoRedSocial {
	float: left;
	width: 2%;
	height: 2%;
}
.copyright {
	float: right;
}

#informacion {
	 margin-left: 8%;
	text-shadow: 3px 3px 2px #696;
	text-align: center;
	font-size: 2em;
}

.imagenConocimiento {
	width: 50%;
	height: 50%;
}
.imagenConocimiento1 {
	width: 40%;
	height: 40%;
}.imagenConocimiento2 {
	width: 30%;
	height: 30%;
}.imagenConocimiento3 {
	width: 80%;
	height: 80%;
}
.article {
	overflow: hidden;
	border: 2px solid black;
	background-color: #64b5f6;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
.div {
	overflow: hidden;
	padding-bottom: 20px;
	padding-top:  20px;
}
.div1 {
	overflow: hidden;
	padding-bottom: 20px;
	padding-top:  20px;
	display: flex;
  	justify-content: center;
  	align-items: center;
}
label {
    display:block;
    margin-top:20px;
    letter-spacing:1px;
}
 
form {
    margin:0 auto;
    width:400px;
}
 
 input, textarea {
 	overflow: hidden;
    width:380px;
    height:27px;
    background:white;
    border:2px solid black;
    padding:10px;
    margin-top:5px;
    font-size:10px;
    color:black;
}
textarea {
	width:380px;
    height:27px;
    background:white;
    border:2px solid black;
    padding:10px;
    margin-top:5px;
    font-size:10px;
    color:black;
}
 
textarea {
    height:150px;
}
 
#submit {
    width:85px;
    height:35px;
    border:none;
    margin-top:20px;
    cursor:pointer;
}
.boton {
	text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: black;
    background-color: red;
    border-radius: 8px;
}
.section {
	overflow: hidden; /*recalcula el padre para que no se vea afectado por los cambios del los hijos*/ 
	width: 30%; /*ancho*/
	border: 2px solid black;
	background-color:  #64b5f6 ;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.correrUnPoco {
	padding-right: 100px;
}